<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button color="primary" defaultHref="restlogin"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-icon routerLink="/rest-home" slot="end" style="width: 30px; height: 30px; margin-right: 10px;" color="primary" name="home"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="bg-color">

    <ion-card class="ion-no-margin">

        <ion-card-header>
            <ion-card-title>
                Add Restaurant
            </ion-card-title>
            <ion-card-subtitle>
                Register A Restaurant by completing the form
            </ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            <form [formGroup]="RestregistrationForm" (ngSubmit)="submit()">
                <div class="wrapform">
                    <ion-item class="roundedInput">
                        <!-- <ion-label position="floating">Restaurant</ion-label> -->
                        <ion-input autocapitalize inputmode="text" formControlName="Restaurant" placeholder="Restaurant"></ion-input>
                    </ion-item>
                    <div *ngFor="let error of errorMessages.Restaurant">
                        <ng-container *ngIf="Restaurant.hasError(error.type) && (Restaurant.dirty || Restaurant.touched)">
                            <small class="error-message">{{error.message}}</small>
                        </ng-container>
                    </div>
                    <ion-item class="roundedInput">
                        <!-- <ion-label position="floating">About Restaurant</ion-label> -->
                        <ion-textarea formControlName="aboutRest" placeholder="Say something about your Restaurant..."></ion-textarea>
                    </ion-item>
                    <div *ngFor="let error of errorMessages.aboutRest">
                        <ng-container *ngIf="aboutRest.hasError(error.type) && (aboutRest.dirty || aboutRest.touched)">
                            <small class="error-message">{{error.message}}</small>
                        </ng-container>
                    </div>
                    <ion-item class="roundedInput">
                        <!-- <ion-label position="floating">Restaurant slogan</ion-label> -->
                        <ion-input autocapitalize inputmode="text" formControlName="Slogan" placeholder="Restaurant slogan"></ion-input>
                    </ion-item>
                    <div *ngFor="let error of errorMessages.Slogan">
                        <ng-container *ngIf="Slogan.hasError(error.type) && (Slogan.dirty || Slogan.touched)">
                            <small class="error-message">{{error.message}}</small>
                        </ng-container>
                    </div>
                    <ion-item class="roundedInput">
                        <!-- <ion-label position="floating">Number of Employee</ion-label> -->
                        <ion-input inputmode="Number" formControlName="NoOfemps" placeholder="Number of Employee"></ion-input>
                    </ion-item>
                    <div *ngFor="let error of errorMessages.NoOfemps">
                        <ng-container *ngIf="NoOfemps.hasError(error.type) && (NoOfemps.dirty || NoOfemps.touched)">
                            <small class="error-message">{{error.message}}</small>
                        </ng-container>
                    </div>
                    <ion-item class="roundedInput">
                        <!-- <ion-label position="floating">Date Established</ion-label> -->
                        <ion-datetime name="CheckIndate" picker-format="YYYY-MM-DD" formControlName="date" placeholder=""></ion-datetime>
                    </ion-item>
                    <div *ngFor="let error of errorMessages.date">
                        <ng-container *ngIf="date.hasError(error.type) && (date.dirty || date.touched)">
                            <small class="error-message">{{error.message}}</small>
                        </ng-container>
                    </div>
                    <ion-item>
                        <!-- <ion-label position="floating">Profile picture:</ion-label> -->
                        <ion-input formControlName="Profilepic" id="Input" placeholder="Select Item Image" onfocus="this.value=''" type="file" accept="image/*" (change)="addPic($event)" value="Click here to clear" name="picture" required [(ngModel)]="downloadurl"></ion-input>
                    </ion-item>
                    <div *ngFor="let error of errorMessages.Profilepic">
                        <ng-container *ngIf="Profilepic.hasError(error.type) && (Profilepic.dirty || Profilepic.touched)">
                            <small class="error-message">{{error.message}}</small>
                        </ng-container>
                    </div>
                    <ion-list-header>
                        <ion-label style="font-size: x-large; text-align: center;">Address</ion-label>
                    </ion-list-header>
                    <ion-item class="roundedInput">
                        <!-- <ion-label position="floating">Street</ion-label> -->
                        <ion-input formControlName="street" placeholder="Street"></ion-input>
                    </ion-item>
                    <div *ngFor="let error of errorMessages.street">
                        <ng-container *ngIf="street.hasError(error.type) && (street.dirty || street.touched)">
                            <small class="error-message">{{error.message}}</small>
                        </ng-container>
                    </div>
                    <ion-item class="roundedInput">
                        <!-- <ion-label position="floating">City</ion-label> -->
                        <ion-input formControlName="city" placeholder="City"></ion-input>
                    </ion-item>
                    <div *ngFor="let error of errorMessages.city">
                        <ng-container *ngIf="city.hasError(error.type) && (city.dirty || city.touched)">
                            <small class="error-message">{{error.message}}</small>
                        </ng-container>
                    </div>
                    <ion-item class="roundedInput">
                        <!-- <ion-label position="floating">Province</ion-label> -->
                        <ion-input formControlName="province" placeholder="Province"></ion-input>
                    </ion-item>
                    <div *ngFor="let error of errorMessages.province">
                        <ng-container *ngIf="province.hasError(error.type) && (province.dirty || province.touched)">
                            <small class="error-message">{{error.message}}</small>
                        </ng-container>
                    </div>
                    <ion-item class="roundedInput">
                        <!-- <ion-label position="floating">Zip Code</ion-label> -->
                        <ion-input formControlName="zip" placeholder="Zip Code"></ion-input>
                    </ion-item>
                    <div *ngFor="let error of errorMessages.zip">
                        <ng-container *ngIf="zip.hasError(error.type) && (zip.dirty || zip.touched)">
                            <small class="error-message">{{error.message}}</small>
                        </ng-container>
                    </div>
                </div>
                <div class="sign-btn-wrap">
                    <ion-button shape="round" [disabled]="!RestregistrationForm.valid" type="submit" style="width: 60%; align-self: center; justify-content: center;">Submit
                        <ion-icon slot="end" name="create">
                        </ion-icon>
                    </ion-button>

                </div>
            </form>
        </ion-card-content>

    </ion-card>
</ion-content>