
<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button color="primary" defaultHref="home"></ion-back-button>
      </ion-buttons>
      <!-- <ion-icon routerLink="/user-home" slot="end" style="width: 30px; height: 30px; margin-right: 10px;" color="primary" name="person"></ion-icon> -->
      <ion-icon routerLink="/user-home" slot="end" style="width: 30px; height: 30px; margin-right: 10px;" color="primary" name="home"></ion-icon>
    </ion-toolbar>
  </ion-header>
  
<ion-content>
    <div class="title-block">
        <div class="heading" style="text-align: center; font-size: larger; font-weight: bold;">Dish Menu</div>
    </div>
    <ion-list style="border-top-right-radius: 20%; background-image: linear-gradient(rgb(194, 140, 232),blue,rgb(75, 72, 255)); width: 100%; overflow-y: scroll;">
        <ion-item *ngFor="let a of dishes">
            <ion-thumbnail slot="start">
                <img src="{{a?.Dishpic}}" alt="" style="object-fit: cover;">
            </ion-thumbnail>
            <ion-label>
                <h2>{{a?.name}}</h2>
                <p>{{a?.Dishdetails}}</p>
                <p>{{a?.price}}</p>
            </ion-label>
            <ion-button fill="outline" slot="end" [routerLink]="'/reserve-table/' + a?.ownerId">Reserve</ion-button>
        </ion-item>
    </ion-list>
    <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button style="background-color: tomato;" [routerLink]="'/add-note'">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab> -->
</ion-content>