<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button color="primary" defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-avatar slot="end">
            <img src="{{restaurants?.Profilepic}}">
        </ion-avatar>
    </ion-toolbar>
    <ion-item lines="none">

        <ion-label>
            <h2 style="text-align: center; align-self: center;">{{restaurants?.Restaurant}} Menu</h2>
        </ion-label>
    </ion-item>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="main">
        <div class="ion-padding wrapper">

            <ion-searchbar></ion-searchbar>

            <ion-grid class="ion-no-padding">
                <ion-row class="ion-align-items-baseline">
                    <ion-col size="6">
                        <h4 class="title">
                            Our Dishes
                        </h4>
                    </ion-col>
                    <ion-col size="6">
                        <h4 class="more ion-text-end">
                            Slide for more
                        </h4>
                    </ion-col>
                </ion-row>
            </ion-grid>

        </div>

        <ion-grid class="ion-no-padding">
            <ion-row>
                <ion-col size="12">
                    <ion-slides [options]="">

                        <ion-slide *ngFor="let a of dishes">
                            <ion-card class="card">
                                <ion-card-content class="ion-text-left">

                                    <div class="img-wrapper">
                                        <ion-img src="{{a?.Dishpic}}"></ion-img>
                                    </div>
                                    <ion-card-title class="title">{{a?.name}}</ion-card-title>
                                    <ion-card-subtitle>{{a?.Dishdetails}}</ion-card-subtitle>
                                    <ion-text style="color: rgb(10, 172, 10);">{{a?.price}}</ion-text>
                                    <ion-card-subtitle>
                                        <ion-icon name="star"></ion-icon>
                                        <ion-icon name="star"></ion-icon>
                                        <ion-icon name="star"></ion-icon>
                                        <ion-icon name="star"></ion-icon>
                                        <ion-icon name="star-outline"></ion-icon>
                                    </ion-card-subtitle>
                                    <!-- <ion-button fill="outline" style=" align-self: center; display: flex; justify-content: center;" color="primary" slot="end" [routerLink]="'/reserve-table/' +  a?.ownerId">Reserve</ion-button> -->
                                </ion-card-content>

                            </ion-card>
                            <!-- <ion-button fill="outline" style=" align-self: center; display: flex; justify-content: center;" color="primary" slot="end" [routerLink]="'/reserve-table/' + dishes?.ownerId">Reserve</ion-button> -->
                        </ion-slide>
                    </ion-slides>
                </ion-col>
            </ion-row>
        </ion-grid>
        <div class="ion-padding-horizontal wrapper">

            <ion-grid class="ion-no-padding">
                <ion-row class="ion-align-items-baseline">
                    <ion-col size="6">
                        <h4 class="title">
                            Available Drinks
                        </h4>
                    </ion-col>
                    <ion-col size="6">
                        <h4 class="more ion-text-end">
                            Slide for more
                        </h4>
                    </ion-col>
                </ion-row>
            </ion-grid>

        </div>

        <ion-grid class="ion-no-padding">
            <ion-row>
                <ion-col size="12">
                    <ion-slides [options]="">

                        <ion-slide *ngFor="let d of drinks">
                            <ion-card class="card">
                                <ion-card-content class="ion-text-left">

                                    <div class="img-wrapper">
                                        <ion-img src="{{d?.Dishpic}}"></ion-img>
                                    </div>

                                    <ion-card-title class="title">{{d?.name}}</ion-card-title>
                                    <ion-card-subtitle>{{d?.Dishdetails}}</ion-card-subtitle>
                                    <ion-text style="color: rgb(10, 172, 10);">{{d?.price}}</ion-text>
                                    <ion-card-subtitle>
                                        <ion-icon name="star"></ion-icon>
                                        <ion-icon name="star"></ion-icon>
                                        <ion-icon name="star"></ion-icon>
                                        <ion-icon name="star"></ion-icon>
                                        <ion-icon name="star-outline"></ion-icon>
                                    </ion-card-subtitle>
                                    <ion-button fill="outline" style=" align-self: center; display: flex; justify-content: center; width: 50%; margin-left: 30%;" color="primary" slot="end" [routerLink]="'/reserve-table/' +  d?.ownerId">Reserve</ion-button>
                                </ion-card-content>

                            </ion-card>

                        </ion-slide>
                    </ion-slides>
                </ion-col>
            </ion-row>
        </ion-grid>

    </div>
</ion-content>