<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button color="primary" defaultHref="home"></ion-back-button>
      </ion-buttons>
      <!-- <ion-icon routerLink="/user-home" slot="end" style="width: 30px; height: 30px; margin-right: 10px;" color="primary" name="person"></ion-icon> -->
      <ion-icon routerLink="/user-home" slot="end" style="width: 30px; height: 30px; margin-right: 10px;" color="primary" name="home"></ion-icon>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <div class="title-block">
        <div class="heading" style="text-align: center; font-size: larger; font-weight: bold;">Reservations</div>
    </div>
    <ion-list style="border-top-right-radius: 20%; width: 100%; overflow-y: scroll;">
        <ion-item *ngFor="let a of reservations">
            <!-- <ion-thumbnail slot="start">
              <img src="{{a?.Dishpic}}" alt="" style="object-fit: cover;">
          </ion-thumbnail> -->
            <ion-label>
                <h2>Reservation under: {{a.name}}</h2>
                <p>Party of: {{a.NoOfpeople}}</p>
                <p>On the:{{a.date | date:'dd/MM/yyyy'}}</p>
                <p>At: {{a.time | date:'H:mm'}}</p>
                <h3>Contact details</h3>
                <p>Email Address: {{a.email}}</p>
                <p>Phone number: {{a.phone}}</p>
                <p *ngIf="a.status == 'pending'">Status: {{a.status}}</p>
                <p *ngIf="a.status == 'Approved'">Status: {{a.status}}</p>
                <p *ngIf="a.status == 'Declined'">Status: {{a.status}}</p>

            </ion-label>
            <p (click)="status(a.ownerId, a.uid, 'Pending')"></p>
            <ion-button (click)="status(a.ownerId, a.uid, 'Approved')" color="success" size="small" shape="round" name="selected">Confirm</ion-button>
            <ion-button (click)="status(a.ownerId, a.uid, 'Declined')" color="danger" size="small" shape="round">Decline</ion-button>
            <!-- <ion-button fill="outline" slot="end" [routerLink]="'/reserve-table/' + a?.ownerId">View</ion-button> -->
        </ion-item>
    </ion-list>
    <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button style="background-color: tomato;" [routerLink]="'/add-note'">
          <ion-icon name="add"></ion-icon>
      </ion-fab-button>
  </ion-fab> -->
</ion-content>