<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="home"></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <div class="container">
   <ion-card style="justify-content: center;">
    <ion-icon routerLink="/user-profile" style="zoom: 13; color: gray; align-self: center; margin-top: 2px; justify-content: center; align-items: center; width: 100%; height: 100%;" name="person"></ion-icon>
           <ion-card-title style="text-align: center; align-self: center;">Profile</ion-card-title>
     </ion-card>
     <ion-card >
      <ion-icon [routerLink]="'/user-reservation'" style="zoom: 13; color: gray; align-self: center; margin-top: 2px; justify-content: center; align-items: center; width: 100%; height: 100%;" name="calendar"></ion-icon>
         <ion-card-title  style="text-align: center; align-self: center;">Reservations</ion-card-title>
     </ion-card>
     <ion-fab  vertical="bottom" horizontal="end" slot="fixed">
       <ion-fab-button style="--background:yellow;" color="tomato"  routerLink="/restreg">
           <ion-icon name="add">Restaurant</ion-icon>
       </ion-fab-button>
   </ion-fab>
  </div>

</ion-content> -->
<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button color="primary" defaultHref="home"></ion-back-button>
        </ion-buttons>
        <!-- <ion-card-title style=" text-align: center; padding-right: 50px;">Home</ion-card-title> -->
    </ion-toolbar>
</ion-header>

<ion-header>


</ion-header>
<section style="align-self: center; display: flex; justify-content: center;">

</section>
<ion-content class="background">
    <!-- <h1 style="font-size:1.4em;align-self: center; display: flex; justify-content: center; text-align: center; color: black;" no-margin>Welcome</h1> -->
    <div class="container">
        <ion-card>
            <ion-icon routerLink="/user-profile" style="align-self: center; margin-top: 10px; width: 60%; height: 60%; color: #046895;" name="person-sharp"></ion-icon><br>
            <ion-text style="text-align: center; align-self: center; color: black;">My Profile</ion-text>
        </ion-card>
        <ion-card>
            <ion-icon [routerLink]="'/user-reservation'" style="align-self: center; margin-top: 10px; width: 60%; height: 60%;  color: #046895;" name="calendar-sharp"></ion-icon>
            <ion-text style="text-align: center; align-self: center; color: black;">Reservations</ion-text>
        </ion-card>
        <ion-card>
            <ion-icon [routerLink]="'/restaurant-list'" style="align-self: center; margin-top: 10px; width: 60%; height: 60%;  color: #046895;" name="restaurant-sharp" name="list"></ion-icon>
            <ion-text style="text-align: center; align-self: center; color: black;">Restaurants</ion-text>
        </ion-card>
        <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed" color="primary">
            <ion-fab-button style="color: gray" color="grey" routerLink="/restreg">
                <ion-icon name="add">Restaurant</ion-icon>
            </ion-fab-button>
        </ion-fab> -->
    </div>
</ion-content>
<!-- [routerLink]="'/restaurant-list'" -->

<!-- routerLink="/user-profile" -->
<!-- [routerLink]="'/view-reservation/' + this.fbservice.getUid()" -->