<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <!-- {{this.fbservice.getUid()}} -->
            <ion-back-button color="primary" defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-card-title style=" text-align: center;  font-size: xx-large; padding-right: 50px;">Home</ion-card-title>
    </ion-toolbar>
</ion-header>

<ion-header>

    <!-- <ion-card-title style=" background-color: whitesmoke; text-align: center;  font-size: xxx-large;">𝐇𝐎𝐌𝐄</ion-card-title> -->
</ion-header>
<ion-content class="background">
    <div class="container">
        <ion-card>
          
            <ion-icon routerLink="/rest-profile" style="align-self: center; margin-top: 10px; width: 60%; height: 60%;" name="person-sharp"></ion-icon>
            <ion-card-title style="text-align: center; align-self: center;">Store Profile</ion-card-title>
        </ion-card>
        <ion-card>
            <ion-icon [routerLink]="'/view-reservation/' + this.fbservice.getUid()" style="align-self: center; margin-top: 10px; width: 60%; height: 60%;" name="calendar-sharp"></ion-icon>
            <ion-card-title style="text-align: center; align-self: center;">Reservations</ion-card-title>
        </ion-card>
        <ion-card >
            <!-- <img [routerLink]="'/view-dishes/' + this.fbservice.getUid()" style="align-self: center; margin-top: 10px; color: tomato; width: 60%; height: 60%;" src="../../../assets/icon/icons8-restaurant-menu-64.png"
            /> -->
            <ion-icon [routerLink]="'/view-dishes/' + this.fbservice.getUid()" style="align-self: center; margin-top: 10px; width: 60%; height: 60%;" name="restaurant-sharp"></ion-icon>
            <ion-card-title style="text-align: center; align-self: center;">Menu</ion-card-title>
        </ion-card>
        <ion-fab vertical="bottom" horizontal="end" slot="fixed">
            <ion-fab-button style="color: blue" color="grey" routerLink="/restreg">
                <ion-icon name="add">Restaurant</ion-icon>
            </ion-fab-button>
        </ion-fab>
    </div>
</ion-content>
<!-- [routerLink]="'/adddish/' + a?.ownerId" -->
<!-- routerLink="/view-dishes"  -->