<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button color="primary" defaultHref="home"></ion-back-button>
        </ion-buttons>
        <!-- <ion-icon routerLink="/user-home" slot="end" style="width: 30px; height: 30px; margin-right: 10px;" color="primary" name="person"></ion-icon> -->
        <ion-icon routerLink="/user-home" slot="end" style="width: 30px; height: 30px; margin-right: 10px;" color="primary" name="home"></ion-icon>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="title-block">
        <ion-title style="text-align: center; font-size: x-larger; font-weight: bold;">Reservations</ion-title>
    </div>
    <ion-list style="border-top-right-radius: 20%; width: 100%; overflow-y: scroll;" *ngFor="let rev of reservations">
        <ion-item>
            <ion-label>
                <h2>Reservation under: {{rev.name}}</h2>
                <p>Party of: {{rev.NoOfpeople}}</p>
                <p>On the:{{rev.date | date:'dd/MM/yyyy'}}</p>
                <p>At: {{rev.time | date:'H:mm'}}</p>
                <h3>Contact details</h3>
                <p>Email Address: {{rev.email}}</p>
                <p>Phone number: {{rev.phone}}</p>
                <p>Status: {{rev.status}}</p>
                <!-- <p *ngIf="rev.status == 'pending'">Status: {{rev.status}}</p>
                <p *ngIf="rev.status == 'Approved'">Status: {{rev.status}}</p>
                <p *ngIf="rev.status == 'Declined'">Status: {{rev.status}}</p> -->
                <p *ngIf="rev.status == 'Pending'" style="font-size: x-small; font-weight: bold;">Your booking is still {{rev.status}}</p>
                <p *ngIf="rev.status == 'Cancelled'" style="font-size: x-small; font-weight: bold;">Your booking has been {{rev.status}}</p>
                <p *ngIf="rev.status == 'Approved'" style="font-size: x-small; font-weight: bold;">Your booking has been {{rev.status}}</p>
                <p></p>
                <p (click)="statuses(rev.ownerId, rev.uid, 'Pending')"></p>
                <ion-button style="text-transform: capitalize;" (click)="statuses(rev.ownerId, rev.uid, 'Cancelled')" color="danger" size="small">
                    Cancel
                </ion-button>
            </ion-label>
            <!-- <p (click)="status(rev.ownerId, rev.uid, 'Pending')"></p>
            <ion-button (click)="status(rev.ownerId, rev.uid, 'Approved')" color="success" size="small" shape="round" name="selected">Confirm</ion-button>
            <ion-button (click)="status(rev.ownerId, rev.uid, 'Declined')" color="danger" size="small" shape="round">Decline</ion-button> -->
            <!-- <ion-button fill="outline" slot="end" [routerLink]="'/reserve-table/' + a?.ownerId">View</ion-button> -->
        </ion-item>
    </ion-list>
    <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button style="background-color: tomato;" [routerLink]="'/add-note'">
          <ion-icon name="add"></ion-icon>
      </ion-fab-button>
  </ion-fab> -->
</ion-content>