.error-message {
    color: var(--ion-color-danger);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-self: center;
    align-items: center;
    text-justify: auto;
    // padding-left: 50%;
}

// #user-icons {
//     border: 1px solid red;
//     height: 40%;
//     width: 100%;
//     display: flex;
//     justify-content: center;
//     text-align: center;
//     align-items: center;
//     flex-direction: column;
//     text-align: center;
//     border-top-left-radius: 0%;
//     border-top-right-radius: 40%;
//     // background-color: powderblue;
//     background-color: rgb(209, 209, 209);
//     // margin-top: 10px;
// }
#img {
    // border: 1px solid red;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    // flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100%;
    // background-color: #3349FF;
    // height: 50%;
    // border-bottom-left-radius: 10%;
    // border-bottom-right-radius: 10%;
    // border-top-left-radius: 20%;
    // border-top-right-radius: 20%;
    align-self: center;
    // margin-bottom: 30%;
    // margin-top: 20px;
    // margin-left: 3px;
}


// ion-icon{
//     width: 100%;
//     height: 100%;

// }

.ion-padding {
    width: 100%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    background-color: #f5f5f3;
    --background: none;
    opacity: 1;
    height: 100%;
    // border: 1px solid red;
    // opacity: 0.3;
}

ion-content {
    --background: #f5f5f3;
}

// #container {
//     height: 100%;
//     width: 100%;
//     border: 1px solid red;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: column;
//     text-align: center;
//     background-color: #f5f5f3;
//     // --background: #f5f5f3;
//     // background: url(../../assets/img/bg2.jpg);
// }

section {
    // background: url("https://image.freepik.com/free-vector/food-elements-menu_23-2147492922.jpg") no-repeat center;
    text-align: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    // background-color: blue;
}

.roundedInput {
    // --border-color: var(--ion-color-medium-shade);
    --border-radius: 30px;
    // --border-width: 0.05px;
    // --box-shadow: 1px rgb(216, 34, 34);
    // --box-shadow-width: 50%;
    --highlight-height: 2px;
    --highlight-width: 30%;
    // --background-color: transparent;
    --placeholder-color: blue;
    width: 100%;
    // border: 1px solid;
    padding: 10px;
    padding-right: 50px;
    box-shadow: 2px 5px whitesmoke;
        margin: 16px;
   }
   ion-item{
    justify-self: center;
    align-self: center;
    margin: 10px;
    width: 100%;
    --border: none;
    // border: 2px solid red;
   }

ion-item {
    // height: 30px;
    // margin: 10px;
    width: 100%;
    // background-color: #f5f5f3;
    --background: none;
    opacity: 1;
    // border: 1px solid red;
    border-radius: 30px;
}

ion-label {
    --background: none;
    opacity: 1;
    // border: 1px solid red;
}

#form {
    --background: none;
    opacity: 1;
    // border: 1px solid red;
}

ion-list {
    // border: 1px solid red;
    --background: none;
    opacity: 1;
    background-color: #f5f5f3;
}