<ion-header>
    <ion-toolbar>
        <ion-title>ViewDishes</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="title-block">
        <div class="heading" style="text-align: center; font-size: larger; font-weight: bold;">Dish Menu</div>
    </div>
    <ion-list style="border-top-right-radius: 20%; background-image: linear-gradient(rgb(194, 140, 232),blue,rgb(75, 72, 255)); width: 100%; overflow-y: scroll;">
        <ion-list-header>
            <ion-label>Item</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let a of dishes">
            <ion-thumbnail slot="start">
                <img src="{{a?.Dishpic}}" alt="" style="object-fit: cover;">
            </ion-thumbnail>
            <ion-label>
                <h2>{{a?.name}}</h2>
                <p>{{a?.Dishdetails}}</p>
                <p>{{a?.price}}</p>
            </ion-label>
            <ion-button fill="outline" slot="end" [routerLink]="'/adddish/' + a?.ownerId">Add dish</ion-button>
        </ion-item>
    </ion-list>
    <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button style="background-color: tomato;" [routerLink]="'/add-note'">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab> -->
</ion-content>
<!-- [routerLink]="'/adddish/' + a?.ownerId" -->