<ion-header class="ion-no-border">
    <ion-toolbar>
        <!-- <ion-title>loginscreen</ion-title> -->
    </ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button defaulthref="login" text=""></ion-back-button>
    </ion-buttons>
</ion-header>

<!-- <ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Blank
        </ion-title>
    </ion-toolbar>
</ion-header> -->
<!-- <ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button color="primary" defaultHref="home"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
   
</ion-header> -->
<!-- <ion-content id="container">
    <section>
       
        <div class="ion-padding">
            <div id="img">
                <h1 style="text-align: center; font-size: xx-large; font-weight: bold; font-style: unset;">Sign In</h1>
                <ion-icon style=" height: 60%; width: 60%; color: gray;" name="person"></ion-icon>
            </div>
            <form id="form" [formGroup]="LoginForm" (ngSubmit)="submit()">
                <ion-list>
                    <ion-item class="roundedInput">
                        <ion-label position="floating">Email:</ion-label>
                        <ion-input inputmode="email" formControlName="email"></ion-input>
                    </ion-item>
                    <div *ngFor="let error of errorMessages.email">
                        <ng-container *ngIf="email.hasError(error.type) && (email.dirty || email.touched)">
                            <small class="error-message">{{error.message}}</small>
                        </ng-container>
                    </div>
                    <ion-item class="roundedInput">
                        <ion-label position="floating">Password:</ion-label>
                        <ion-input inputmode="password" formControlName="password" [type]="showpassword ? 'text' : 'password'"></ion-input>
                        <ion-icon slot="end" [name]="passwordToggleIcon" (click)="togglePassword()" style="color: #5A6573; align-self: center;"></ion-icon>
                    </ion-item>
                    <div *ngFor="let error of errorMessages.password">
                        <ng-container *ngIf="password.hasError(error.type) && (password.dirty || password.touched)">
                            <small class="error-message">{{error.message}}</small>
                        </ng-container>
                    </div>

                </ion-list>
                <p style="text-align: center;">Don't have an account? <a href="/user-reg" style="padding-left: 2px; color: #5A6573; text-decoration: none;">Sign Up</a></p><br>

                <ion-button shape="round" size="medium" [disabled]="!LoginForm.valid" type="submit" style="width: 60%;">Log In
                    <ion-icon slot="end" name="create">
                    </ion-icon>
                </ion-button>
                <p style="text-align: center;"><a href="/rest-owner" style="padding-left: 10px; color: #5A6573; text-decoration: none;">Register Restaurant</a></p>
            </form>
        </div>
    </section>
</ion-content> -->
<!-- https://hafizmokhtar.com/tutorials/ionic-4-form-validation-with-reactive-forms-tutorial/ -->
<ion-content>
    <ion-card class="ion-no-margin">
        <ion-img src="assets/img/header1.png"></ion-img>
        <ion-card-title style="text-align: center; font-size: xx-large;">Sign In</ion-card-title>
        <ion-card-content>

            <form [formGroup]="LoginForm" (ngSubmit)="submit()">
                <div class="wrapform">
                    <ion-item>
                        <ion-input type="text" name="email" formControlName="email" placeholder="Email">
                            <ion-icon slot="start" name="mail-outline"></ion-icon>
                        </ion-input>
                    </ion-item>
                    <div *ngFor="let error of errorMessages.email">
                        <ng-container *ngIf="email.hasError(error.type) && (email.dirty || email.touched)">
                            <small class="error-message">{{error.message}}</small>
                        </ng-container>
                    </div>

                    <ion-item>

                        <ion-input type="password" name="password" formControlName="password" placeholder="**************">
                            <ion-icon slot="start" name="lock-closed"></ion-icon>
                        </ion-input>
                    </ion-item>

                    <div *ngFor="let error of errorMessages.password">
                        <ng-container *ngIf="password.hasError(error.type) && (password.dirty || password.touched)">
                            <small class="error-message">{{error.message}}</small>
                        </ng-container>
                    </div>

                </div>
                <!-- <div class="password_forgot">
            <ion-button fill="clear" class="ion-no-padding">ForgotPasword?</ion-button>
         </div> -->
                <div class="sign-btn-wrap">
                    <ion-button shape="round" size="medium" [disabled]="!LoginForm.valid" type="submit" color="" style="width: 60%;">Log In
                        <ion-icon slot="end" name="log-in"></ion-icon>
                    </ion-button>
                    <p style="text-align: center;"><a href="/rest-owner" style="padding-left: 10px; color: #5A6573; text-decoration: none;">Register Restaurant</a></p>
                </div>

            </form>
        </ion-card-content>


    </ion-card>


    <div class="ion-card-footer">
        <span style="text-align: center;">Don't have an account? <a href="/user-reg" style="padding-left: 2px; color: #5A6573; text-decoration: none;">Sign Up</a></span><br>
        <!-- <span>Don’t have an account?</span><button class="ion-no-padding" >Sign Up</button> -->
    </div>



</ion-content>