<ion-header>
  <ion-toolbar>
    <ion-title style="align-self: center;">Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="main">
<ion-card>
  <div class="Profilepic">
    <img style="width: 230px; height: 150px; object-fit: cover;" src="{{Profilepic}}"/>
    <!-- <img src="../../../assets/img/image.jpg" alt=""> -->
    //here i will place the Profilepic
  </div>
</ion-card>
  <ion-card>
        <ion-card-header>
          <ion-card-title>
           <ion-title>Restaurant Name:{{Restaurant}}</ion-title>
          </ion-card-title><br>
          <ion-card-subtitle>
            <ion-title>About Restaurant:</ion-title>
          </ion-card-subtitle><br>
          <ion-card-subtitle>
            <ion-title>here i will place the picture:</ion-title>
          </ion-card-subtitle>
          <ion-card-subtitle>
            <ion-title>Date Established:</ion-title>
          </ion-card-subtitle>
          <ion-card-subtitle>
            <ion-title>Restaurant Address:</ion-title>
          </ion-card-subtitle>
          <ion-card-subtitle>
            <ion-title>Business Field:</ion-title>
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-subtitle>
          <ion-title>Slogan:</ion-title>
        </ion-card-subtitle>
        <ion-card-subtitle>
          <ion-title>Number of Employees:</ion-title>
        </ion-card-subtitle> 
  </ion-card> 

  </div>

</ion-content>
